<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.musicweb3.dao.AdminMapper">
    <resultMap id="BaseResultMap" type="com.course.musicweb3.domain.Admin">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>

    </resultMap>
    <select id="verifyPassword" resultType="java.lang.Integer">
        select count(*) from admin where name=#{username} and password=#{password}
    </select>
</mapper>