<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.musicweb3.dao.SingerMapper">
    <resultMap id="BaseResultMap" type="com.course.musicweb3.domain.Singer">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="TINYINT"/>
        <result property="pic" column="pic" jdbcType="VARCHAR"/>
        <result property="birth" column="birth" jdbcType="TIMESTAMP"/>
        <result property="location" column="location" jdbcType="VARCHAR"/>
        <result property="introduction" column="introduction" jdbcType="VARCHAR"/>

    </resultMap>
    <sql id="Base_Column_List">
        id,name,sex,pic,birth,location,introduction
    </sql>
    <insert id="insert" parameterType="com.course.musicweb3.domain.Singer">
        insert into singer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null" >
                id,
            </if>
            <if test="name!=null" >
                name,
            </if>
            <if test="sex!=null" >
                sex,
            </if>
            <if test="pic!=null" >
                pic,
            </if>
            <if test="birth!=null" >
                birth,
            </if>
            <if test="location!=null" >
                location,
            </if>
            <if test="introduction!=null">
                introduction,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null" >
                #{id},
            </if>
            <if test="name!=null" >
                #{name},
            </if>
            <if test="sex!=null" >
                #{sex},
            </if>
            <if test="pic!=null" >
                #{pic},
            </if>
            <if test="birth!=null" >
                #{birth},
           </if>
            <if test="location!=null" >
                #{location},
            </if>
            <if test="introduction!=null">
                #{introduction},
            </if>
         </trim>
    </insert>
    <update id="update" parameterType="com.course.musicweb3.domain.Singer">
        update singer
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="sex!=null">
                sex=#{sex},
            </if>
            <if test="pic!=null">
                pic=#{pic},
            </if>
            <if test="birth!=null">
                birth=#{birth},
            </if>
            <if test="location!=null">
                location=#{location},
            </if>
            <if test="introduction!=null">
                introduction=#{introduction},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="delete" parameterType="java.lang.Integer">
        delete from singer where id = #{id}
    </delete>
    <select id="allSinger" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from singer
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from singer where id = #{id}
    </select>
    <select id="singerOfName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from singer where name like #{name}
    </select>
    <select id="singerOfSex" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from singer
        where sex=#{sex}
    </select>
</mapper>